<template name="home">
  <body>
    <div class="container">
      <header>
        <img src="logo.svg" class="logo" />
        <h1>myDeas ({{incompleteCount}}{{username}})</h1>

        {{#if currentUser}}
          <form class="new-note">
            <input type="text" name="text" placeholder="Type to add new notes" autocomplete="off" />
            <input type="submit" class="submit" value="Submit" />
          </form>
        {{/if}}
      </header>

      <ul class="tags-home">
        {{#each tags}}
          {{> selectedTag}}
        {{/each}}
      </ul>

      <ul>
        {{#each notes}}
          {{> note}}
        {{/each}}
      </ul>

      {{> footer}}

    </div>
  </body>
</template>