<template name="index">
  <div class="container">
    <header>
      <h1>myDeas</h1>
      <div class="account-user">
        {{> loginButtons}}
      </div>
    </header>
    <div class="account-login-wrapper">
      <form class="account-login">
        <div class="account-input-heading">Username</div>
        <input type="text" name="text" placeholder="Username" class="account-input-username" autocomplete="off" />
        <div class="account-input-heading">Password</div>
        <input type="password" name="password" placeholder="" class="account-input-password" autocomplete="off" />
        <input type="submit" class="submit" value="Submit" />
      </form>
    </div>

    {{> footer}}

  </div>
</template>